 <%- include('navbar') %>
<body>
    <div class="container">
        <div>
           <h2><%= title %></h2>
           <p>by <a href="#"><%= author %></a></p>
           <p><%= body %></p>
           <hr>
        </div>
        <%- include('footer') %>
    </div>
</body>

</html